/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}

#container {
	background-color:grey;
    width: 50vw; /* Set the desired width */
	height: 18vh;
    padding: 20px; /* Add padding */
	display:flex;
	justify-content:center;
    border: 5px solid black; /* Add a border */
    border-radius: 30px; /* Make it rounded */
}
#signal{
	display:flex;
	justify-content:center;
	
}

.red, .green, .yellow {
    width: 100px; /* Set the size of the circles */
    height: 100px; /* Set the size of the circles */
    border-radius: 50%; /* Make them circles */
    display: flex;
    margin: 5px; /* Add spacing between them */
}

.red {
    background-color: red; /* Set the red color */
}

.green {
    background-color: green; /* Set the green color */
}

.yellow {
    background-color: yellow; /* Set the yellow color */
}
