/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}
.container{
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
#signal{
	width:300px;
	height:100px;
	background-color:grey;
	display:flex;
	justify-content:center;
	align-items:center;
	border:5px solid black;
	border-radius:5px;
}

.red, .green, .yellow {
    width: 50px; /* Set the size of the circles */
    height: 50px; /* Set the size of the circles */
    border-radius: 50%; /* Make them circles */
    display: flex;
    margin: 5px; /* Add spacing between them */
}

.red {
    background-color: red; /* Set the red color */
}

.green {
    background-color: green; /* Set the green color */
}

.yellow {
    background-color: yellow; /* Set the yellow color */
}
